.banner {
  width:100% !important;
  height: auto !important;
}
.grid-pics {
  width:250px !important;
  height: 250px !important;
}
.background {
  background-color: #FFFFFF !important;
  border:0px !important;
}
.page-header {
  background-color: #FFFFFF !important;
  border:0px !important;
}
h4 {
  margin-top: 25px;
}
.img {
  height: 100%;
  width:100%;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.thumbnail img {
  height:250px;
  width:100%;
}
[class*="col-"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FE4D03;
  background-color: rgba(34, 54, 254);
  border: 2px solid #17202A;
  border: 2px solid rgba(23, 32, 42);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
